<div class="grid container">
  <div class="header">
    <div class="brand">CCCLOTHES</div>
    <div class="topic">MEN'S TOPS</div>
  </div>
  <div class="item item-1" routerLink="product">
    <div class="text title" data-text="LINEN BLAZER">LINEN BLAZER</div>
    <div class="text cat">Men's outfit</div>
    <div class="text num">01</div>
    <div class="image" style="background-image:url('https://images.unsplash.com/photo-1513827379601-9dba5099a3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1acdd78f34ee75aade9e313251bb1695&auto=format&fit=crop&w=2468&q=80')"></div>
    <div class="deco-box border"></div>
    <div class="deco-box stripped"></div>
  </div>
  
  <div class="item item-2" routerLink="product">
    <div class="text title" data-text="FREELIFT">FREELIFT</div>
    <div class="text cat">Men's basics</div>
    <div class="text num">02</div>
    <div class="image" style="background-image:url('https://images.unsplash.com/photo-1514632542677-48fae74a01b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf412aceb1d689765e387d30fca7210a&auto=format&fit=crop&w=2468&q=80')"></div>
    <div class="deco-box border"></div>
    <div class="deco-box solid"></div>
  </div>
  
  <div class="item item-3" routerLink="product">
    <div class="text title" data-text="SUPER SKINNY">SUPER SKINNY</div>
    <div class="text cat">Men's pattern shirts</div>
    <div class="text num">03</div>
    <div class="image" style="background-image: url('https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0f994eef47e5fb1a67849703cc961b3&auto=format&fit=crop&w=2550&q=80')"></div>
    <div class="deco-box border"></div>
    <div class="deco-box solid"></div>
  </div>
  
  <div class="item item-4" routerLink="product">
    <div class="text title" data-text="DENIM">DENIM</div>
    <div class="text cat">Men's cadual</div>
    <div class="text num">04</div>
    <div class="image" style="background-image:url('https://images.unsplash.com/photo-1484516758160-69878111a911?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=39466d66952b133d5a5cff642b970d05&auto=format&fit=crop&w=1887&q=80')"></div>
    <div class="deco-box border"></div>
    <div class="deco-box stripped"></div>
  </div>
  
  <div class="item item-5" routerLink="product">
    <div class="text title" data-text="SWEATSHIRTS">SWEATSHIRTS</div>
    <div class="text cat">Men's jacket</div>
    <div class="text num">05</div>
    <div class="image" style="background-image:url('https://images.unsplash.com/photo-1525448198276-222de3961638?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43fb25556cdbd191e520c7f28739e40d&auto=format&fit=crop&w=2550&q=80')"></div>
    <div class="deco-box border"></div>
    <div class="deco-box stripped"></div>
  </div>
  
  <div class="item item-6" routerLink="product">
    <div class="text title" data-text="VINTAGE DENIM">VINTAGE DENIM</div>
    <div class="text cat">Men's classic</div>
    <div class="text num">06</div>
    <div class="image" style="background-image:url('https://images.unsplash.com/photo-1519406709381-c1f293304b28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98c497a29f229085d9574ee8b6eeef8c&auto=format&fit=crop&w=1534&q=80')"></div>
    <div class="deco-box border"></div>
    <div class="deco-box solid"></div>
  </div>
  
  <div class="item item-7" routerLink="product">
    <div class="text title" data-text="EDITION">EDITION</div>
    <div class="text cat">Men's shirts</div>
    <div class="text num">07</div>
    <div class="image" style="background-image:url('https://images.unsplash.com/photo-1516914943479-89db7d9ae7f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63ff45d79414b3166b08b800a32018be&auto=format&fit=crop&w=1534&q=80')"></div>
    <div class="deco-box border"></div>
    <div class="deco-box solid"></div>
  </div>
</div>